name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:

permissions:
  contents: read
  actions: read

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        quality: [test --timeout=30000, run typecheck, run lint, run format:check]
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: 1.3.6

      - name: Cache Bun dependencies
        uses: actions/cache@v5
        with:
          path: ~/.bun/install/cache
          key: ${{ runner.os }}-bun-${{ hashFiles('**/bun.lock') }}
          restore-keys: |
            ${{ runner.os }}-bun-

      - name: Install dependencies
        run: bun install

      - name: Build
        run: bun run build:prod

      - name: Run test
        run: bun ${{matrix.quality}}

  dependency-review:
    runs-on: ubuntu-24.04
    if: github.event_name == 'pull_request'
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6

      - name: Dependency Review
        uses: actions/dependency-review-action@v4

  nix-flake-test:
    strategy:
      fail-fast: false
      matrix:
        quality: [bun run quality, bun test, bun run test:e2e]
    name: Nix Flake CI
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@v21
      - name: Enable Magic Nix Cache
        uses: DeterminateSystems/magic-nix-cache-action@v13
      - name: Install dependencies (Nix devShell)
        run: nix --experimental-features 'nix-command flakes' develop .# --command -- bun install

      - name: Build (Nix devShell)
        run: nix --experimental-features 'nix-command flakes' develop .# --command -- bun run build

      - name: Quality checks (Nix devShell)
        run: nix --experimental-features 'nix-command flakes' develop .# --command -- ${{matrix.quality}}
